<a href="https://colab.research.google.com/github/LeTam0101/TRI-TUE-NHAN-TAO/blob/main/Tuan1%2BBtTuan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1=input('Nhap vao so thu 1:')

Nhap vao so thu 1:6

In [ ]:
value2=input('Nhap vao so thu 2:')

Nhap vao so thu 2:4

In [ ]:
value1+value2

'64'

In [ ]:
int(value1+value2)

64

In [ ]:
int(value1)+int(value2)

10

In [ ]:
with open('text.txt', mode='w') as accounnts:         # w la write
  accounnts.write('201462 Le Van A 8.0 \n')
  accounnts.write('201462 Nguyen Van B 9.0 \n')
  accounnts.write('201462 Le Nguyen Van 8.5 \n')
  accounnts.write('201461 Vy Nguyen Van 7.5 \n')
  accounnts.write('201461 Dinh La Thang 8.5 \n')
  accounnts.write('201462 Trinh Van Quyet 6.5 \n')
  accounnts.write('201462 La Van Quyet 8.0 \n')
  accounnts.write('201462 Le Tung Anh 8.0 \n')
  accounnts.write('201461 Trinh Thuy Ngan 9.0 \n')
  accounnts.write('201462 Nguyen Thi Kim Ngan 9.5 \n')
  accounnts.write('201462 Cao la Vy 6.5 \n')

In [ ]:
with open('text1', mode='w') as accounnts:          # w l√† write
  print('201461 Le Van A 8.0', file= accounnts)     # accounnts.write('201462 Le Van A 8.0 \n')
  print('201461 Le Van C 9.0', file= accounnts)     # ==print('201461 Le Van A 8.0', file= accounnts)

In [ ]:
with open ('file_ten.csv', mode="r") as accounts:
  print ({'khoa':<20}{'score':>20})
  for record in accounts:
    name, score = record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
with open('file_ten.csv',mode='r' )as accoount:
  print(f'.{"MSSV":<10}{"Name":<20}{"Scove":>4}')
  for record in accoount:
    MSSV, Name, score= record.split()
    print(f'.{"MSSV":<10}{"Name":<20}{"Scove":>4}')

.MSSV      Name                Scove

UnicodeDecodeError: ignored

In [ ]:
import pandas as pd        
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.head(4)                #lay du lieu den hang 4

       MSSV      Ho Va Ten  Nam nhap hoc                 Khoa  Diem
0  20146526       Le Van A            20                  CKM   8.0
1  20146565   Nguyen Van B            20                  CKM   9.0
2  19146262  Dinh La Thang            19  Cong nghe thuc pham   8.5
3  21996543      Cao Vi Mo            21          Hoa loc dau   7.5

In [ ]:
import pandas as pd        
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.iloc[10]            #lay du lieu hang so 10

MSSV              24876578
Ho Va Ten       Dang A Phu
Nam nhap hoc            24
Khoa               Kinh te
Diem                   9.5
Name: 10, dtype: object

In [ ]:
import pandas as pd        
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.iloc[0:3]

       MSSV      Ho Va Ten  Nam nhap hoc                 Khoa  Diem
0  20146526       Le Van A            20                  CKM   8.0
1  20146565   Nguyen Van B            20                  CKM   9.0
2  19146262  Dinh La Thang            19  Cong nghe thuc pham   8.5

In [ ]:
import pandas as pd        
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.iloc[7:]

        MSSV           Ho Va Ten  Nam nhap hoc                   Khoa  Diem
7   18161515        Co Sinh Vien            18    Cong nghe thuc pham   9.0
8   22988989           Le Ngo AI            22                    CKM   8.5
9   23567865         Sieu Cao Co            23                    FME   8.5
10  24876578          Dang A Phu            24                Kinh te   9.5
11  21287628     Huynh My Phuong            21  Ke hoach hoa gia dinh  10.0
12  23237627        Nguyen Van C            23                   Luat   8.0
13  24542726  Nguyen Thi Mong Mo            24          Tuong lai hoc   9.0

In [ ]:
import pandas as pd                   # tao hang va cot
dataframe = pd.DataFrame()
dataframe ['Ho Va Ten'] = ['Sieu Tri Tue','Le Ngo AI']
dataframe ['Student ID'] = [21986541,22988989]
dataframe ['Score']=[7,10]
dataframe

      Ho Va Ten  Student ID  Score
0  Sieu Tri Tue    21986541      7
1     Le Ngo AI    22988989     10

In [ ]:
import pandas as pd            #Lay thong tin cua 1 nguoi, hoac nhieu nguoi co cung ten
url = 'file_ten.csv'           #hoac nhieu nguoi co cung ten
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe = dataframe.set_index(dataframe['Ho Va Ten'])
dataframe.loc['Nguyen Thi Mong Mo']

,MSSV,Ho Va Ten,Nam nhap hoc,Khoa,Diem
Ho Va Ten,,,,,
Nguyen Thi Mong Mo,24542726,Nguyen Thi Mong Mo,24,Tuong lai hoc,9.0
Nguyen Thi Mong Mo,29290292,Nguyen Thi Mong Mo,26,Tinh truong hoc,9.5

In [ ]:
import pandas as pd
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Ho Va Ten']=='Nguyen Thi Mong Mo'].head(5)

        MSSV           Ho Va Ten  Nam nhap hoc             Khoa  Diem
13  24542726  Nguyen Thi Mong Mo            24    Tuong lai hoc   9.0
14  29290292  Nguyen Thi Mong Mo            26  Tinh truong hoc   9.5

In [ ]:
import pandas as pd
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Khoa']=='CKM'].head(5)      # So 5 la tim toi da 5 nguoi

       MSSV     Ho Va Ten  Nam nhap hoc Khoa  Diem
0  20146526      Le Van A            20  CKM   8.0
1  20146565  Nguyen Van B            20  CKM   9.0
8  22988989     Le Ngo AI            22  CKM   8.5

In [ ]:
import pandas as pd
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['Khoa']=='CKM') & (dataframe['Nam nhap hoc']==20) & (dataframe['Diem']>= 5)].head(7)

       MSSV     Ho Va Ten  Nam nhap hoc Khoa  Diem
0  20146526      Le Van A            20  CKM   8.0
1  20146565  Nguyen Van B            20  CKM   9.0

In [ ]:
import pandas as pd            # lay thong tin cua cot
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe['Khoa'].unique()

array(['CKM', 'Cong nghe thuc pham', 'Hoa loc dau', 'Cong Nghe In',
       'Ke hoach hoa gia dinh', 'Vu tru hoc', 'FME', 'Kinh te', 'Luat',
       'Tuong lai hoc', 'Tinh truong hoc'], dtype=object)

In [ ]:
import pandas as pd             #Xoa 1 cot
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.drop('Diem',axis=1).head(5)

       MSSV      Ho Va Ten  Nam nhap hoc                 Khoa
0  20146526       Le Van A            20                  CKM
1  20146565   Nguyen Van B            20                  CKM
2  19146262  Dinh La Thang            19  Cong nghe thuc pham
3  21996543      Cao Vi Mo            21          Hoa loc dau
4  22876543   Sieu Cao Thu            22         Cong Nghe In

In [ ]:
import pandas as pd
url = 'file_ten.csv'
dataframe = pd.read_csv(url)
dataframe.groupby(dataframe['Diem']>= 8).count()

       MSSV  Ho Va Ten  Nam nhap hoc  Khoa  Diem
Diem
False     1          1             1     1     1
True     14         14            14    14    14

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['City']=='Chamonix'].head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
31,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver
32,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
34,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
37,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
39,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
42,1924,Chamonix,Skating,Figure skating,SUI,individual,M,Bronze
43,1924,Chamonix,Curling,Curling,SWE,curling,M,Silver
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['City']=='Chamonix') & (dataframe['Year']==1924)].head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
31,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver
32,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Bronze
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
34,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
37,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
39,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
42,1924,Chamonix,Skating,Figure skating,SUI,individual,M,Bronze
43,1924,Chamonix,Curling,Curling,SWE,curling,M,Silver
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['City']=='Chamonix') & (dataframe['Year']==1924) & (dataframe['Medal']=='Gold')].head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)

dataframe[(dataframe['City']=='Chamonix') & (dataframe['Year']==1924) & (dataframe['Medal']=='Gold') & (dataframe['Discipline']=='Figure skating')].head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold

# M·ª•c m·ªõi